About:
  tabTitle: "Про"
  releaseNotes: "Про редакцію"
  newUpdate: "Оновлення"
  upToDate: "Ви маєте найновшу редакцію Atom!"
  checkingForUpdates: "Пошук оновлень..."
  checkUpdatesNow: "Оновити зараз"
  automaticDownloadUpdates: "Автоматичне оновлення"
  restartInstall: "Перезавантажити та встановити"
  license: "Ліцензія"
  termsOfUse: "Умови використання"
  with: " з "
  by: " від "
  andTheAwesome: "та вражаючого "
  atomCommunity: "Товариства Atom"
